.button {
  background: var(--icon-btn-background);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  transition: all ease-in-out 150ms;
}

.button:hover,
.button:focus {
  background: var(--icon-btn-background--hover);
}

.button:active {
  background: var(--icon-btn-background--active);
  transform: scale(0.88);
  transition: none;
}
