import html,
body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color--text: rgb(0, 133, 66);
  --primary-text: rgba(0, 0, 0, 1);

  --icon-btn-background: rgba(0, 0, 0, 0);
  --icon-btn-background--hover: rgba(0, 0, 0, 0.16);
  --icon-btn-background--active: rgba(0, 0, 0, 0.32);
  --navbar-background: rgba(255, 255, 255, 0.64);

  --navbar-mask: linear-gradient(180deg, #fff 54%, rgba(255, 255, 255, 0) 100%);
  --hero-content-mask: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 16%,
    #fff 84%,
    rgba(255, 255, 255, 0) 100%
  );

  --frosted-material: blur(16px) saturate(120%);
}

h1 {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 68px;
  margin: 0;
}

h2 {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31.5px;
  line-height: 42px;
  margin: 0;
}

h3 {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23.75px;
  line-height: 130%;
  margin: 0;
}
