.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 64px;
  z-index: 1;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 64px;
  background: var(--navbar-background);
  -webkit-backdrop-filter: var(--frosted-material);
  backdrop-filter: var(--frosted-material);
  mask-image: var(--navbar-mask);
  z-index: -1;
}

.justifiedLeft {
  display: flex;
  align-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 100%;
  padding-left: 16px;
}

.justifiedRight {
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  height: 100%;
  padding-right: 16px;
}

.logo {
  width: 48px;
  height: 48px;
}
